<div class="panel panel-default image-upload-{{image.fileName}}">
    <div class="panel-heading">
        <strong>{{#if image.anonce}}{{image.anonce}}{{else}}Изображение{{/if}}</strong>
        <a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-upload"></span>&nbsp;Загрузить</a>
        <div class="progress hide">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"><span class="sr-only"></span></div>
        </div>
    </div>
    <div class="panel-body">

        <div class="form-group {{#if image.id}}{{else}}hide{{/if}}">
            <label for="" class="col-sm-2 control-label">Превью</label>
            <div class="col-sm-10">
                <a href="#" class="thumbnail">
                    <img src="{{image.path}}" style="width: 200px;"/>
                </a>
            </div>
        </div>



        <input type="hidden" name="{{image.fileName}}[id]" class="{{image.fileName}}-id" value="{{image.id}}"/>
        <input type="hidden" name="{{image.fileName}}[path]" class="{{image.fileName}}-path" value="{{image.path}}"/>

        <div class="form-group">
            <label for="{{image.fileName}}-name" class="col-sm-2 control-label">Имя</label>
            <div class="col-sm-10">
                <input type="text" class="form-control {{image.fileName}}-name" name="{{image.fileName}}[name]" placeholder="" value="{{image.name}}">
            </div>
        </div>

        <div class="form-group">
            <label for="{{image.fileName}}-alt" class="col-sm-2 control-label">Alt</label>
            <div class="col-sm-10">
                <input type="text" class="form-control {{image.fileName}}-alt" name="{{image.fileName}}[alt]" placeholder="" value="{{image.alt}}">
            </div>
        </div>
    </div>
</div>
<style type="text/css">
    .image-upload-{{image.fileName}}.dz-drag-hover{
        border-color: rgba(215, 174, 0, 0.9);
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(215, 174, 0, 0.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(215, 174, 0, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(215, 174, 0, 0.6);
    }
    .image-upload-{{image.fileName}} .progress{
        margin-top:10px;
    }
</style>
<script type="text/javascript">
    var dropzone{{image.fileName}};
    var dropzoneParams{{image.fileName}} = {
        paramName: 'vakooFile',
        url: '/admin/?task=file.upload',
        dictDefaultMessage: '',
        complete: function (file) {
            $(".image-upload-{{image.fileName}} .progress").addClass('hide');
        },
        success: function (file) {
            var response = JSON.parse(file.xhr.response);
            $('.image-upload-{{image.fileName}} .{{image.fileName}}-name').val(response.name);
            $('.image-upload-{{image.fileName}} .{{image.fileName}}-id').val(response._id);
            $('.image-upload-{{image.fileName}} .{{image.fileName}}-path').val(response.path);
            $(".image-upload-{{image.fileName}} .panel-body img").attr('src',response.path).closest('.form-group').removeClass('hide');
        },
        uploadprogress: function (file, progress) {
            $(".image-upload-{{image.fileName}} .progress .progress-bar").css('width',parseInt(progress) + '%');
        },
        processing: function (file) {
            console.log('processing',file);
        },
        removedfile: function (file) {
            console.log('removed',file);
        },
        accept: function (file, done) {
            $(".image-upload-{{image.fileName}} .progress").removeClass('hide');
            for (var key in dropzone{{image.fileName}}.files) {
                if (dropzone{{image.fileName}}.files[key] !== file && typeof dropzone{{image.fileName}}.files[key] != "undefined") {
                    dropzone{{image.fileName}}.removeFile(dropzone{{image.fileName}}.files[key]);
                }
            }
            done();
        },
        previewTemplate: '<span class=\"dz-filename hide\"><span data-dz-name></span> <span class="upload-percent">(<span class="count">0</span>%)</span></span>',
        addRemoveLinks: false
    };
    dropzone{{image.fileName}} = new Dropzone($('.image-upload-{{image.fileName}}').get(0), dropzoneParams{{image.fileName}});
    var dropzoneButton{{image.fileName}} = new Dropzone($(".image-upload-{{image.fileName}} .panel-heading a.btn").get(0), dropzoneParams{{image.fileName}});
</script>