{{factory.flash}}


<form class="form-horizontal" role="form" action="" method="post">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Общие сведения</h3>
        </div>
        <table class="table">
            <tr>
                <th>Дата заказа</th>
                <td>
                    <span class="date" data-moment="format" data-format="LLL">{{order.date}}</span>
                </td>
            </tr>
            <tr>
                <th>Общая сумма</th>
                <td>{{order.total}}&nbsp;<span class="rouble">a</span></td>
            </tr>
            <tr>
                <th>Статус</th>
                <td>
                    <select name="status" class="form-control">
                        {{#each order._statuses}}
                            <option value="{{@key}}" {{#equal ../order.status @key}}selected{{/equal}}>{{this}}</option>
                        {{/each}}
                    </select>
                </td>
            </tr>
            <tr>
                <th>Себестоимость</th>
                <td>{{order.tradeSum}}&nbsp;<span class="rouble">a</span></td>
            </tr>
            <tr>
                <th>Кол-во товаров</th>
                <td>{{order.productCount}}</td>
            </tr>
            <tr>
                <th>Кол-во позиций</th>
                <td>{{order.products.length}}</td>
            </tr>
        </table>
        <div class="panel-footer">
            <textarea name="adminComment" class="form-control" placeholder="Комментарий администратора">{{order.adminComment}}</textarea>
            {{!!factory 'module' 'comments'}}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Покупатель</h3>
        </div>
        <table class="table">
            <tr>
                <th>Имя</th>
                <td>{{order.name.surname}} {{order.name.name}} {{order.name.patronymic}}<br/><small>({{order.fullname}})</small></td>
            </tr>
            <tr>
                <th>Контакт</th>
                <td>
                    {{#if order.email}}
                        <span class="glyphicon glyphicon-envelope">:&nbsp;</span><a href="mailto:{{order.email}}">{{order.email}}</a>
                    {{/if}}
                    {{#if order.phone}}
                        <span class="glyphicon glyphicon-earphone">:&nbsp;</span>{{order.phone}}
                    {{/if}}
                    {{#if order.skype}}
                        <span class="glyphicon glyphicon-phone-alt"> (skype):&nbsp;</span><a href="skype:{{order.skype}}?chat">{{order.skype}}</a>
                    {{/if}}
                    <br/><small>({{order.contact}})</small>
                </td>
            </tr>
            <tr>
                <th>Адрес</th>
                <td>
                    Индекс: {{order.address.code}}<br/>
                    Регион: {{order.address.region}}<br/>
                    Город: {{order.address.city}}<br/>
                    Улица: {{order.address.street}}<br/>
                    Дом: {{order.address.house}}<br/>
                    Корпус: {{order.address.block}}<br/>
                    Квартира: {{order.address.flat}}<br/>
                    <br/><small>{{order.fulladdress}}</small></td>
            </tr>
            <tr>
                <th>Комментарий</th>
                <td>
                    {{order.comment}}
                </td>
            </tr>
        </table>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Товары</h3>
        </div>
        <table class="table">
            <tr>
                <th>Наименование</th>
                <th>Артикул</th>
                <th>Цена</th>
                <th>Кол-во</th>
                <th>Сумма</th>
            </tr>
            {{#each order.products}}
                <tr>
                    <td><a href="/admin/?task=shop.products/edit&id={{_id}}" target="_blank" class="btn btn-default">{{title}}</a></td>
                    <td><a href="http://www.condom-shop.ru/products/{{sku}}" target="_blank" class="btn btn-default">{{sku}} <span class="glyphicon glyphicon-new-window"></span></a></td>
                    <td>{{price}} <span class="rouble">a</span></td>
                    <td>{{count}} шт.</td>
                    <td>{{total}} <span class="rouble">a</span></td>
                </tr>
            {{/each}}
        </table>
    </div>

    <input type="hidden" name="exit" value="0"/>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Сохранить</button>
            <button type="submit" class="btn btn-primary" onclick="$(this).closest('form').find('[name=exit]').val(1)">Сохранить и выйти</button>
        </div>
    </div>

</form>