{{factory.flash}}

<form class="form-horizontal" role="form" action="" method="post">

<div class="form-group">
    <label for="name_ru" class="col-sm-2 control-label">Заголовок</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="name_ru" placeholder="Заголовок" value="{{city.name_ru}}" readonly>
    </div>
</div>

<div class="form-group">
    <label for="region" class="col-sm-2 control-label">Регион</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="region" placeholder="Заголовок" value="{{city.region}}">
    </div>
</div>


<div class="form-group">
    <label for="title_in" class="col-sm-2 control-label">Нахожусь в ... </label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="title_in" placeholder="Заголовок" value="{{city.title_in}}">
    </div>
</div>

<div class="form-group">
    <label for="title_from" class="col-sm-2 control-label">Я из ...</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" name="title_from" placeholder="Заголовок" value="{{city.title_from}}">
    </div>
</div>



<input type="hidden" name="exit" value="0"/>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-success">Сохранить</button>
        <button type="submit" class="btn btn-primary" onclick="$(this).closest('form').find('[name=exit]').val(1)">Сохранить и выйти</button>
    </div>
</div>

</form>

<script type="text/javascript">
    if($("[name=title_in]").val().length > 0 || $("[name=title_from]").val().length > 0){
        return false;
    }
    $("[name=name_ru]").click(function(){
        var val = $(this).val();
        var last = val.split("").slice(-3).join("");

        var variables = {
            "рад": ["раде","рада"],
            "уев": ["уеве", "уева"],
            "вой": ["вом", "вого"],
            "нск": ["нске", "нска"],
            "рск": ["рске", "рска"],
            "вск": ["вске", "вска"],
            "ачи": ["ачах", "ачей"],
            "нка": ["нке", "нки"],
            "ный": ["ном", "ного"],
            "вка": ["вке", "вки"],
            "ица": ["ице", "ицы"],
            "вцы": ["вцах", "вцев"],
            "кий": ["ком", "кого"],
            "мов": ["мове", "мова"],
            "кая": ["кой", "кой"],
            "вич": ["виче", "вича"],
            "рия": ["рии", "рии"],
            "нки": ["нках", "нков"],
            "ина": ["ине", "ины"],
            "еск": ["еске", "еска"],
            "йск": ["йске", "йска"],
            "дск": ["дске", "дска"],
            "вец": ["вце", "вца"],
            "ичи": ["ичах", "ичей"],
            "кое": ["ком", "кого"],
            "ков": ["кове", "кова"],
            "ики": ["иках", "иков"],
            "ров": ["рове", "рова"],
            "нец": ["нце", "нца"],
            "ная": ["ной", "ной"],
            "аки": ["аках", "ак"],
            "вна": ["вне", "вны"],
            "ной": ["ном", "ного"],
            "вая": ["вой", "вой"],
            "ицы": ["ицах", "иц"],
            "оль": ["оле", "оля"],
            "мск": ["мске", "мска"],
            "ецк": ["ецке", "ецка"],
            "ное": ["ном", "ного"],
            "кой": ["ком", "кого"],
        };


        if (typeof variables[last] != "undefined"){
            $("[name=title_in]").val(val.replace(last,variables[last][0]));
            $("[name=title_from]").val(val.replace(last,variables[last][1]));
            $(".form-horizontal").submit()
        }else{
            $("[name=title_in]").val(val);
            $("[name=title_from]").val(val);

            if (last == "ово" || last == "ино" || last == "ёво" || last == "ево"){
                $(".form-horizontal").submit()
            }else{
                $("[name=title_in]").val(val + "е");
                $("[name=title_from]").val(val + "а");
            }
        }

    })

    $("[name=name_ru]").click()
    $("[name=title_in]").focus()
    $("[name=title_in]").blur(function(){
        $("[name=title_from]").focus()
    })
</script>
