{{factory 'module' 'catalog:breadcrumbs'}}

<!--Shopping Cart-->
<section class="shopping-cart">
    <div class="container">
        <div class="row">

            <!--Items List-->
            <div class="col-lg-9 col-md-9">
                <h2 class="title">Корзина{{^if products}} пуста!{{/if}}</h2>
                {{#if total}}
                    <table class="items-list">
                        <tr>
                            <th>&nbsp;</th>
                            <th>Наименование</th>
                            <th>Цена</th>
                            <th>Количество</th>
                            <th>Всего</th>
                        </tr>

                        {{#each products}}
                            <tr class="item" data-id="{{_id}}">
                                <td class="thumb"><a href="{{url}}"><img src="{{image.path}}" alt="{{title}} {{shortDesc}}" width="152" height="119"/></a></td>
                                <td class="name">
                                    <a href="{{url}}">{{title}}</a><br/>
                                    <small style="font-size:0.6em">{{shortDesc}}{{#if size}}<br/>размер {{size.current}}{{/if}}</small>
                                </td>
                                <td class="price">{{number-format price}} <span class="fa fa-rouble"></span></td>
                                <td class="qnt-count">
                                    <a class="incr-btn" href="#" data-id="{{_id}}">-</a>
                                    <input class="quantity form-control" type="text" value="{{count}}" data-id="{{_id}}">
                                    <a class="incr-btn" href="#" data-id="{{_id}}">+</a>
                                </td>
                                <td class="total">{{number-format total}} <span class="fa fa-rouble"></span></td>
                                <td class="delete"><i class="icon-delete" data-id="{{_id}}"></i></td>
                            </tr>
                        {{/each}}
                    </table>
                {{else}}
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                {{/if}}
            </div>

            <!--Sidebar-->
            <div class="col-lg-3 col-md-3">
                {{#if total}}
                    <h3>Итого</h3>
                    <form class="cart-sidebar" method="post">
                        <div class="cart-totals">
                            <table>
                                <tr>
                                    <td>Товаров на сумму</td>
                                    <td class="total align-r">{{number-format total}} <span class="fa fa-rouble"></span></td>
                                </tr>
                                <tr class="devider"
                                    data-content="{{^if factory.vakoo._config.delivery.mincart}}Доставка осуществляется бесплатно по всей России{{else}}{{#greater product.price factory.vakoo._config.delivery.mincart}}Доставка <b>{{product.title}}</b> осуществляется бесплатно по всей России.{{else}}Стоимость доставки составит {{factory.vakoo._config.delivery.price}} <span class='fa fa-rouble'></span> при заказе на сумму до {{factory.vakoo._config.delivery.mincart}} <span class='fa fa-rouble'></span> по всей России.{{/greater}}{{/if}}" data-html="true" data-container="body">
                                    <td>Доставка <span class="fa fa-question-circle"></span></td>
                                    <td class="delivery align-r">{{#if delivery}}{{delivery}} <span class="fa fa-rouble"></span>{{else}}Бесплатно{{/if}}</td>
                                </tr>
                                <tr>
                                    <td>Общий счет</td>
                                    <td class="order-total total align-r">{{number-format orderTotal}} <span class="fa fa-rouble"></span></td>
                                </tr>
                            </table>
                            {{!
                            <input type="submit" class="btn btn-primary btn-sm btn-block" name="update-cart" value="Update shopping cart">
                            }}
                            <a href="/checkout" class="btn btn-success btn-block" name="to-checkout">Оформить заказ</a>
                        </div>

                        {{!

                        <h3>Have a coupon?</h3>
                        <div class="coupon">
                            <div class="form-group">
                                <label class="sr-only" for="coupon-code">Enter coupon code</label>
                                <input type="text" class="form-control" id="coupon-code" name="coupon-code" placeholder="Enter coupon code">
                            </div>
                            <input type="submit" class="btn btn-primary btn-sm btn-block" name="apply-coupon" value="Apply coupon">
                        </div>
                        <a class="panel-toggle" href="#calc-shipping"><h3>Calculate shipping</h3></a>
                        <div class="hidden-panel calc-shipping" id="calc-shipping">
                            <div class="form-group">
                                <div class="select-style">
                                    <select name="country">
                                        <option>Australia</option>
                                        <option>Belgium</option>
                                        <option>Germany</option>
                                        <option>United Kingdom</option>
                                        <option>Switzerland</option>
                                        <option>USA</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="state">State/ province</label>
                                <input type="text" class="form-control" id="state" name="state" placeholder="State/ province">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="postcode">Postcode/ ZIP</label>
                                <input type="text" class="form-control" id="postcode" name="postcode" placeholder="Postcode/ ZIP">
                            </div>
                            <input type="submit" class="btn btn-primary btn-sm btn-block" name="update-totals" value="Update totals">
                        </div>

                        }}
                    </form>
                {{/if}}
            </div>
        </div>
    </div>
</section><!--Shopping Cart Close-->


{{!
<!--Catalog Grid-->
<section class="catalog-grid">
    <div class="container">
        <h2>You may also like</h2>
        <div class="row">
            <!--Tile-->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="tile">
                    <div class="price-label">715,00 $</div>
                    <a href="#"><img src="img/catalog/1.png" alt="1"/></a>
                    <div class="footer">
                        <a href="#">The Buccaneer</a>
                        <span>by Pirate3d</span>
                        <div class="tools">
                            <div class="rate">
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span></span>
                            </div>
                            <!--Add To Cart Button-->
                            <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
                            <!--Share Button-->
                            <div class="share-btn">
                                <div class="hover-state">
                                    <a class="fa fa-facebook-square" href="#"></a>
                                    <a class="fa fa-twitter-square" href="#"></a>
                                    <a class="fa fa-google-plus-square" href="#"></a>
                                </div>
                                <i class="fa fa-share"></i>
                            </div>
                            <!--Add To Wishlist Button-->
                            <a class="wishlist-btn" href="#">
                                <div class="hover-state">Wishlist</div>
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Tile-->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="tile">
                    <div class="price-label">715,00 $</div>
                    <a href="#"><img src="img/catalog/1.png" alt="1"/></a>
                    <div class="footer">
                        <a href="#">The Buccaneer</a>
                        <span>by Pirate3d</span>
                        <div class="tools">
                            <div class="rate">
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span></span>
                                <span></span>
                            </div>
                            <!--Add To Cart Button-->
                            <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
                            <!--Share Button-->
                            <div class="share-btn">
                                <div class="hover-state">
                                    <a class="fa fa-facebook-square" href="#"></a>
                                    <a class="fa fa-twitter-square" href="#"></a>
                                    <a class="fa fa-google-plus-square" href="#"></a>
                                </div>
                                <i class="fa fa-share"></i>
                            </div>
                            <!--Add To Wishlist Button-->
                            <a class="wishlist-btn" href="#">
                                <div class="hover-state">Wishlist</div>
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Tile-->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="tile">
                    <div class="price-label">715,00 $</div>
                    <a href="#"><img src="img/catalog/1.png" alt="1"/></a>
                    <div class="footer">
                        <a href="#">The Buccaneer</a>
                        <span>by Pirate3d</span>
                        <div class="tools">
                            <div class="rate">
                                <span class="active"></span>
                                <span class="active"></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <!--Add To Cart Button-->
                            <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
                            <!--Share Button-->
                            <div class="share-btn">
                                <div class="hover-state">
                                    <a class="fa fa-facebook-square" href="#"></a>
                                    <a class="fa fa-twitter-square" href="#"></a>
                                    <a class="fa fa-google-plus-square" href="#"></a>
                                </div>
                                <i class="fa fa-share"></i>
                            </div>
                            <!--Add To Wishlist Button-->
                            <a class="wishlist-btn" href="#">
                                <div class="hover-state">Wishlist</div>
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Tile-->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="tile">
                    <div class="price-label">715,00 $</div>
                    <a href="#"><img src="img/catalog/1.png" alt="1"/></a>
                    <div class="footer">
                        <a href="#">The Buccaneer</a>
                        <span>by Pirate3d</span>
                        <div class="tools">
                            <div class="rate">
                                <span class="active"></span>
                                <span class="active"></span>
                                <span class="active"></span>
                                <span></span>
                                <span></span>
                            </div>
                            <!--Add To Cart Button-->
                            <a class="add-cart-btn" href="#"><span>To cart</span><i class="icon-shopping-cart"></i></a>
                            <!--Share Button-->
                            <div class="share-btn">
                                <div class="hover-state">
                                    <a class="fa fa-facebook-square" href="#"></a>
                                    <a class="fa fa-twitter-square" href="#"></a>
                                    <a class="fa fa-google-plus-square" href="#"></a>
                                </div>
                                <i class="fa fa-share"></i>
                            </div>
                            <!--Add To Wishlist Button-->
                            <a class="wishlist-btn" href="#">
                                <div class="hover-state">Wishlist</div>
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--Catalog Grid Close-->

<!--Brands Carousel Widget-->
<section class="brand-carousel">
    <div class="container">
        <h2>Brands in our shop</h2>
        <div class="inner">
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
        </div>
    </div>
</section><!--Brands Carousel Close-->

}}