{{factory 'module' 'catalog:breadcrumbs'}}
<section class="catalog-grid">
    <div class="container">
        <h1 class="with-sorting">{{category.title}}</h1>

        <div class="sorting">
            <a href="{{apply category 'url' sort.title.url}}" class="{{#if sort.title.active}}sorted{{/if}}">По имени</a>
            <a href="{{apply category 'url' sort.price.url}}" class="{{#if sort.price.active}}sorted{{/if}}">По цене</a>
        </div>
        {{#if category.description}}
            <div class="category-desc hide">
                {{{partial category.description factory.from.query}}}
            </div>
        {{/if}}

        {{#if categories}}
            <div class="subnav">
                {{#keyinRange categories 4}}
                    <a href="{{url}}">{{title}}</a>
                {{/keyinRange}}

                <a href="javascript:void(0)" class="more" onclick="$('.subnav .hide').removeClass('hide');$(this).hide();">Еще</a>

                {{#keyinRange categories 4 100}}
                    <a href="{{url}}" class="hide">{{title}}</a>
                {{/keyinRange}}
            </div>
        {{/if}}



        <div class="row">
            {{#each products}}
                {{include 'shop.product-card' this}}
            {{/each}}
        </div>

        {{#if pagination}}
            {{factory 'module' 'pagination' pagination}}
        {{/if}}

    </div>

</section><!--Catalog Grid Close-->

{{!
<!--Brands Carousel Widget-->
<section class="brand-carousel">
    <div class="container">
        <h2>Brands in our shop</h2>
        <div class="inner">
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
            <a class="item" href="#"><img src="img/brands/1.png" alt="1"/></a>
        </div>
    </div>
</section><!--Brands Carousel Close-->
}}
