<div class="col-lg-3 col-md-4 col-sm-6 emerge">
    <div class="tile">
        {{!
        <div class="badges">
            <span class="best-seller"></span>
            <span class="out"></span>
            <span class="sale"></span>
        </div>
        }}
        <div class="price-label">{{number-format price}} <span class="fa fa-rouble"></span></div>
        {{!
        <div class="price-label old-price">920,00 $</div>
        }}

        {{^available}}
            <div class="badges">
                <span class="out">Отсутствует</span>
                {{#admin}}
                    <a href="/admin/?task=shop.products/edit&id={{_id}}" class="sale" target="_blank">Edit</a>
                {{/admin}}
            </div>
        {{else}}
            {{#admin}}
                <div class="badges">
                    <a href="/admin/?task=shop.products/edit&id={{_id}}" class="sale" target="_blank">Edit</a>
                </div>
            {{/admin}}
        {{/available}}



        <a href="{{url}}" class="image-container">
            <span class="image-verticalator"></span>
            <img src="{{image.path}}" alt="{{image.alt}}" title="{{image.alt}}"/>
        </a>
        <div class="footer">
            <a href="{{url}}">{{title}}</a>
            <span>{{shortDesc}}</span>
            <div class="tools">

                <div class="rate">
                    <span class="{{#greater price 0}}active{{/greater}}"></span>
                    <span class="{{#greater price 0}}active{{/greater}}"></span>
                    <span class="{{#greater price 0}}active{{/greater}}"></span>
                    <span class="{{#greater price 2000}}active{{/greater}}"></span>
                    <span class="{{#greater price 2500}}active{{/greater}}"></span>
                </div>

                <!--Add To Cart Button-->
                <a class="add-cart-btn" href="#" data-id="{{_id}}"><span>В корзину</span><i class="icon-shopping-cart"></i></a>
                <!--Share Button-->
                <div class="share-btn">
                    <div class="hover-state">
                        <a class="fa fa-vk" href="http://vk.com/share.php?url={{root}}{{url}}" target="_blank"></a>
                        <a class="fa fa-facebook-square" href="http://www.facebook.com/sharer/sharer.php?u={{root}}{{url}}" target="_blank"></a>
                        <a class="fa fa-twitter-square" href="http://twitter.com/share?text={{title}}&url={{root}}{{url}}&hashtags=luxysexy" target="_blank"></a>
                    </div>
                    <i class="fa fa-share"></i>
                </div>

                <!--Add To Wishlist Button-->
                <a class="wishlist-btn" href="/checkout?product={{_id}}">
                    <div class="hover-state">Купить</div>
                    <i class="fa fa-send-o"></i>
                </a>
            </div>
        </div>
    </div>
</div>