<h1>На сайте LUXYsexy новый заказ:</h1>
<p><a href="http://luxy.sexy/admin/?task=shop.orders/item&id={{_id}}">{{_id}}</a></p>
<p>Пользователь <strong>{{fullname}}</strong></p>
<p>Адрес <strong>{{fulladdress}}</strong></p>
<p>Контакты <strong>{{contact}}</strong></p>
<p>Сообщение: <br/>{{comment}}</p>