<!doctype html>
<html lang="ru-RU">
<head>
	<meta charset="UTF-8">
    <meta name="description" content="{{factory.meta.description}}"/>
    <meta name="title" content="{{factory.meta.title}}"/>
    <meta name="keywords" content="{{factory.meta.keywords}}"/>
    {{factory 'js' '/js/jquery.js'}}
    {{factory 'js' '/js/bootstrap.js'}}
    {{factory 'js' '/js/moment.js'}}
    {{factory 'js' '/js/emerge.js'}}

    {{factory 'js' '/js/common.js'}}
    {{factory 'js' '/js/script.js'}}

    {{factory 'css' '/css/bootstrap.css'}}
    {{factory 'css' '/css/style.css'}}
	<title>{{factory.title}}</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{factory 'module' 'catalog:menu'}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{factory.content}}
        </div>
    </div>

</div>

{{factory 'module' 'footer'}}

<div class="modal fade" tabindex="10" role="dialog" aria-hidden="true" id="modal-dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4>Необходимо подтверждение</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

</body>
</html>