<!doctype html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
    <meta name="description" content="{{factory.meta.desc}}"/>
    <meta name="title" content="{{factory.meta.title}}"/>
    <meta name="keywords" content="{{factory.meta.keywords}}"/>
    {{factory 'js' '/js/jquery.js'}}
    {{factory 'js' '/js/bootstrap.js'}}
    {{factory 'css' '/css/bootstrap.css'}}
    {{factory 'css' '/css/bootstrap-theme.css'}}
	<title>{{factory.title}}</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-6">
            header
        </div>
        <div class="col-md-4">
            cart
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{factory 'module' 'catalog:menu'}}
            {{factory.content}}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            footer
        </div>
    </div>
</div>


</body>
</html>