{{factory.flash}}

<form class="form-horizontal" role="form" action="" method="post">


    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">Заголовок</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="title" placeholder="Заголовок" value="{{page.title}}">
        </div>
    </div>

    <div class="form-group">
        <label for="label" class="col-sm-2 control-label">Лейбл (меню)</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="label" placeholder="Лейбл для отображения в меню" value="{{page.label}}">
        </div>
    </div>

    <div class="form-group">
        <label for="alias" class="col-sm-2 control-label">Ссылка</label>
        <div class="col-sm-4">
            <div class="input-group">
                <input type="text" class="form-control" name="alias" placeholder="Ссылка" value="{{page.alias}}">
                <span class="input-group-btn">
                    <a href="#" target="_blank" class="btn btn-default">&nbsp;Luxy.sexy&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>
                </span>
            </div>
        </div>
    </div>


    {{factory.module 'image' page.image}}


    <div class="form-group">
        <label for="anonce" class="col-sm-2 control-label">Анонс</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="anonce" placeholder="Описание">{{page.anonce}}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="content" class="col-sm-2 control-label">Контент</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="content" placeholder="Анонс">{{page.content}}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="type" class="col-sm-2 control-label">Тип</label>
        <div class="col-sm-10">
            <select name="type" class="form-control">
                <option value="article" {{#equal page.type 'article'}}selected{{/equal}}>Статья</option>
                <option value="news" {{#equal page.type 'news'}}selected{{/equal}}>Новость</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="status" class="col-sm-2 control-label">Статус</label>
        <div class="col-sm-10">
            <select name="status" class="form-control">
                <option value="active" {{#equal page.status 'active'}}selected{{/equal}}>Активен</option>
                <option value="hide" {{#equal page.status 'hide'}}selected{{/equal}}>Скрыт</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">Создана</label>
        <div class="col-sm-10">
            <span class="date form-control">{{page.created}}</span>
        </div>
    </div>


    <div class="form-group">
        <label class="col-sm-2 control-label">Дата публикации</label>
        <div class="col-sm-10">
            <span class="date form-control">{{page.publish}}</span>
        </div>
    </div>

    <div class="panel panel-default">

        <div class="panel-heading"><strong>Мета-тэги</strong></div>

        <div class="panel-body">

            {{#keys page.meta}}
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">{{key}}</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="meta[{{key}}]">{{val}}</textarea>
                    </div>
                </div>
            {{/keys}}
        </div>
    </div>

    <input type="hidden" name="exit" value="0"/>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Сохранить</button>
            <button type="submit" class="btn btn-primary" onclick="$(this).closest('form').find('[name=exit]').val(1)">Сохранить и выйти</button>
        </div>
    </div>

</form>


{{factory 'js' '/js/codemirror.js'}}
{{factory 'js' '/js/javascript.js'}}
{{factory 'js' '/js/css.js'}}
{{factory 'js' '/js/xml.js'}}
{{factory 'js' '/js/vbscript.js'}}
{{factory 'js' '/js/htmlmixed.js'}}
{{factory 'css' '/css/codemirror.css'}}


<script type="text/javascript">
    var mixedMode = {
        name: "htmlmixed",
        scriptTypes: [{matches: /\/x-handlebars-template|\/x-mustache/i,
            mode: null},
            {matches: /(text|application)\/(x-)?vb(a|script)/i,
                mode: "vbscript"}]
    };

    var editor = CodeMirror.fromTextArea($("textarea[name=anonce]").get(0), {mode: mixedMode,lineWrapping:true});
    var editor2 = CodeMirror.fromTextArea($("textarea[name=content]").get(0), {mode: mixedMode,lineWrapping:true});
</script>