<html>
<head>
    {{factory 'js' '/js/jquery.js'}}
    {{factory 'js' '/js/bootstrap.js'}}
    {{factory 'js' '/js/admin.js'}}
    {{factory 'css' '/css/bootstrap.css'}}
    {{factory 'css' '/css/style.css'}}
    <title>{{factory.title}}</title>
</head>
<body>
<div class="container">
    {{factory.content}}
</div>
</body>
</html>