<html>
<head>
    {{factory 'js' '/js/jquery.js'}}
    {{factory 'js' '/js/dropzone.js'}}
    {{factory 'js' '/js/bootstrap.js'}}
    {{factory 'js' '/js/bootstrap-select.min.js'}}
    {{factory 'js' '/js/admin.js'}}
    {{factory 'css' '/css/bootstrap.css'}}
    {{factory 'css' '/css/style.css'}}
    <title>{{factory.title}}</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>Vakoo Admin Panel <small>{{factory.title}}</small></h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{factory.content}}
            </div>
        </div>
    </div>
</body>
</html>