{{factory.flash}}
<form class="form-horizontal" role="form" action="" method="post">
    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">Заголовок</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="title" placeholder="Заголовок" value="{{category.title}}">
        </div>
    </div>
    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">ID</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="_id" placeholder="Идентификатор должен быть уникальным" value="{{category._id}}" {{#if category._id}}readonly{{/if}}>
        </div>
    </div>

    <div class="form-group">
        <label for="parent" class="col-sm-2 control-label">Категория</label>
        <div class="col-sm-10">
            <select name="parent" class="form-control">
                <option value="">Не выбрана</option>
                {{#keyIn categories}}
                    <option value="{{_id}}" {{#selected}}selected{{/selected}}>{{title}} ({{_id}})</option>
                    {{#keyIn childs}}
                        <option value="{{_id}}" {{#selected}}selected{{/selected}}>&nbsp;&nbsp;└&nbsp;{{title}} ({{_id}})</option>
                        {{#keyIn childs}}
                            <option value="{{_id}}" {{#selected}}selected{{/selected}}>&nbsp;&nbsp;&nbsp;&nbsp;└&nbsp;{{title}} ({{_id}})</option>
                            {{#keyIn childs}}
                                <option value="{{_id}}" {{#selected}}selected{{/selected}}>{{title}} ({{_id}})</option>
                            {{/keyIn}}
                        {{/keyIn}}
                    {{/keyIn}}
                {{/keyIn}}
            </select>
        </div>
    </div>
    
    <div class="form-group">
        <label for="condom-shop-category" class="col-sm-2 control-label">Condom-Shop</label>
        <div class="col-sm-10">
            <div class="input-group">
                <input type="text" class="form-control" id="condom-shop-category"/>
                <span class="input-group-btn">
                    <a href="#" class="btn btn-default" id="load-from-category">Загрузить</a>
                </span>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $("#load-from-category").click(function(){
            if($("#condom-shop-category").val()){
                $(this).addClass('disabled');
                $.get('/admin/?task=shop.categories/loadProducts&id={{category._id}}&link=' + $("#condom-shop-category").val(),function(response){
                    alert('Добавлено ' + response.added + ' позиций');
                    $(this).removeClass('disabled');
                    $("#condom-shop-category").val('');
                });
            }

            return false;
        });
    </script>

    <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Описание</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="description">{{category.description}}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Анонс</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="anonce">{{category.anonce}}</textarea>
        </div>
    </div>


    {{factory.module 'image' category.image}}


    <div class="panel panel-default">

        <div class="panel-heading"><strong>Мета-тэги</strong></div>

        <div class="panel-body">

            {{#keys category.meta}}
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">{{key}}</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="meta[{{key}}]">{{val}}</textarea>
                    </div>
                </div>
            {{/keys}}
        </div>

    </div>

    <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Показывать на главной</label>
        <div class="col-sm-10">
            <select name="main" class="form-control">
                <option value="false">Нет</option>
                <option value="true" {{#if category.main}}selected{{/if}}>Да</option>
            </select>
        </div>
    </div>

    {{factory.module 'image' category.mainImage 'Изображение для большого слайдера (500x500)' 'mainImage'}}
    {{factory.module 'image' category.mainSmallImage 'Малое изображение для слайдера (163x190)' 'mainSmallImage'}}

    <input type="hidden" name="exit" value="0"/>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Сохранить</button>
            <button type="submit" class="btn btn-primary" onclick="$(this).closest('form').find('[name=exit]').val(1)">Сохранить и выйти</button>
        </div>
    </div>
</form>

{{factory 'js' '/js/codemirror.js'}}
{{factory 'js' '/js/javascript.js'}}
{{factory 'js' '/js/css.js'}}
{{factory 'js' '/js/xml.js'}}
{{factory 'js' '/js/vbscript.js'}}
{{factory 'js' '/js/htmlmixed.js'}}
{{factory 'css' '/css/codemirror.css'}}


<script type="text/javascript">
    var mixedMode = {
        name: "htmlmixed",
        scriptTypes: [{matches: /\/x-handlebars-template|\/x-mustache/i,
            mode: null},
            {matches: /(text|application)\/(x-)?vb(a|script)/i,
                mode: "vbscript"}]
    };

    var editor = CodeMirror.fromTextArea($("textarea[name=description]").get(0), {mode: mixedMode,lineWrapping:true});
    var editor2 = CodeMirror.fromTextArea($("textarea[name=anonce]").get(0), {mode: mixedMode,lineWrapping:true});
</script>