<form action="/admin/?task=shop.categories/changeParent&id={{category._id}}" method="post">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel"><small>смена родителя категории</small>&nbsp;{{category.title}} </h4>
    </div>
    <div class="modal-body">
        <select name="parent" class="form-control">
            {{#keyIn categories}}
                <option value="{{_id}}" {{#selected}}selected{{/selected}}>{{title}} ({{_id}})</option>
                {{#keyIn childs}}
                    <option value="{{_id}}" {{#selected}}selected{{/selected}}>&nbsp;&nbsp;└&nbsp;{{title}} ({{_id}})</option>
                    {{#keyIn childs}}
                        <option value="{{_id}}" {{#selected}}selected{{/selected}}>&nbsp;&nbsp;&nbsp;&nbsp;└&nbsp;{{title}} ({{_id}})</option>
                        {{#keyIn childs}}
                            <option value="{{_id}}" {{#selected}}selected{{/selected}}>{{title}} ({{_id}})</option>
                        {{/keyIn}}
                    {{/keyIn}}
                {{/keyIn}}
            {{/keyIn}}
        </select>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>