<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Корзина <small>Общая сумма заказа {{number-format total 0 '.' ' '}} P</small></h4>
        </div>
        <div class="modal-body">
            <table class="table">
                {{#each products}}
                    <tr data-product-row="{{_id}}">
                        <td>
                            <img src="{{image.path}}" width="100px"/>
                        </td>
                        <td>
                            {{title}}
                        </td>
                        <td>
                            <strong class="price">{{number-format price 0 '.' ' '}}</strong> <strong>P</strong>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default add-to-cart no-popover" data-id="{{_id}}" data-value="-1"><span class="glyphicon glyphicon-minus"></span></button>
                                <button type="button" class="btn btn-default count-button no-popover" style="width: 50px;"><strong class="count">{{count}}</strong></button>
                                <button type="button" class="btn btn-default add-to-cart no-popover" data-id="{{_id}}"><span class="glyphicon glyphicon-plus"></span></button>
                            </div>
                        </td>
                        <td>
                            <strong class="total">{{number-format total 0 '.' ' '}}</strong> <strong>P</strong>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default add-to-cart no-popover" data-id="{{_id}}" data-value="0"><span class="glyphicon glyphicon-remove"></span></button>
                        </td>
                    </tr>

                {{else}}
                    <tr>
                        <td>
                            Корзина пуста
                        </td>
                    </tr>
                {{/each}}

                {{#if total}}
                    <tr>
                        <td colspan="3">

                        </td>
                        <td>
                            <h3>Всего:</h3>
                        </td>
                        <td colspan="2">
                            <h3><span class="total-price">{{number-format total 0 '.' ' '}}</span> P</h3>
                        </td>
                    </tr>
                {{/if}}
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            <button type="button" class="btn btn-danger" data-action="clean">Очистить</button>
            <button type="button" class="btn btn-primary" data-action="checkout">Заказать</button>
        </div>
    </div>
</div>