<div class="row">
    <div class="col-md-12">
        {{factory 'module' 'catalog:breadcrumbs'}}
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="{{product.image.path}}" alt="{{product.image.alt}}" title="{{product.image.alt}}" class="col-md-12" id="product-image"/>
        <hr/>
        {{#if product.images}}
            <div class="col-md-12" style="cursor: pointer;">
                <img src="{{product.image.path}}" alt="{{product.image.alt}}" title="{{product.image.alt}}" class="col-md-4" onclick="$('#product-image').attr('src',$(this).attr('src'))"/>
                {{#each product.images}}
                    <img src="{{path}}" alt="{{alt}}" title="{{alt}}" class="col-md-4" onclick="$('#product-image').attr('src',$(this).attr('src'))"/>
                {{/each}}
            </div>
        {{/if}}
    </div>

    <div class="col-md-6">
        <h1>{{product.title}} <br/><small>{{product.shortDesc}}</small></h1>
        <span class="price" style="font-size: 18px;font-weight: bold;">{{number-format product.price}} <span class="rouble">a</span></span><br/>
        <a href="#" class="btn btn-primary add-to-cart" data-id="{{product._id}}" role="button"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;В корзину</a>
        <a href="#" class="btn btn-primary add-to-cart one-click" role="button" data-id="{{product._id}}"><span class="glyphicon glyphicon-hand-up"></span>&nbsp;Купить</a>
        <br/><br/>{{{product.desc}}}
        {{#if product.params.benefits}}
            <ul class="list-group">
                {{#each product.params.benefits}}
                    <li class="list-group-item">{{this}}</li>
                {{/each}}
            </ul>
        {{/if}}

        {{#if product.params.items}}
            <ul class="list-group">
                {{#each product.params.items}}
                    <li class="list-group-item"><strong>{{this.[0]}}</strong> - {{this.[1]}}</li>
                {{/each}}
                {{#if product.size}}
                    <li class="list-group-item"><strong>Размер</strong> - <span class="current-size">{{product.size.current}}</span></li>
                    {{#if product.size.sizes}}
                        <li class="list-group-item"><strong>Другие размеры:</strong>
                            <span class="sizes">
                                {{#each product.size.sizes}}
                                    <a href="javascript:changeSize({{json this}})" data-size="{{@key}}">{{@key}}</a>&nbsp;
                                {{/each}}
                                <a href="javascript:changeSize({id:'{{../product._id}}',size:'{{../product.size.current}}'})" data-size="{{product.size.current}}" class="hide">{{product.size.current}}</a>&nbsp;
                            </span>
                        </li>
                    {{/if}}

                {{/if}}
            </ul>
        {{else}}

        {{/if}}

        {{#if product.size}}

        {{/if}}
        <div></div>
    </div>
</div>

<script type="text/javascript">
    $(".sizes a.hide").removeClass('hide').hide();

    var changeSize = function(data){
        $('[data-id]').each(function(){
            $(this).data('id',data.id);
        });

        $(".current-size").html(data.size);

        $(".sizes a").show();
        $(".sizes a[data-size="+data.size+"]").hide();

    }
</script>

<div class="row">
    <div class="col-md-6">
        {{!!factory 'module' 'comments' product.url}}
    </div>
</div>