<div id="footer">
    <div class="container">
        <ul class="list-unstyled col-md-2">
            <li><a href="{{apply about 'url'}}">{{about.title}}</a></li>
            <li><a href="{{apply contacts 'url'}}">{{contacts.title}}</a></li>
            <li><a href="{{apply feedback 'url'}}">{{feedback.title}}</a></li>
        </ul>
        <ul class="list-unstyled col-md-3">
            <li><a href="{{apply delivery 'url'}}">{{delivery.title}}</a></li>
            <li><a href="{{apply anonymity 'url'}}">{{anonymity.title}}</a></li>
            <li><a href="{{apply guarantee 'url'}}">{{guarantee.title}}</a></li>
            <li><a href="{{apply sizes 'url'}}">{{sizes.title}}</a></li>
        </ul>
        <p class="text-muted">Все права защищены &copy; <a href="/">LUXYsexy</a> 2014</p>
    </div>
</div>