{{factory.flash}}

<form class="form-horizontal" role="form" action="" method="post">

    {{#if product.image}}
        <div class="form-group">
            <label class="col-sm-2 control-label">Изображение</label>
            <div class="col-sm-10">
                <div class="col-md-5">
                    <a href="#" class="thumbnail">
                        <img src="{{product.image.path}}" style="width: 200px;"/>
                    </a>
                </div>
            </div>
        </div>
    {{/if}}

    {{#if product.images}}
        <div class="form-group">
            <label class="col-sm-2 control-label">Доп. изображения</label>
            <div class="col-sm-10">
                {{#each product.images}}
                    <div class="col-md-3">
                        <a href="#" class="thumbnail">
                            <img src="{{path}}"/>
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/if}}

    <div class="form-group">
        <label for="title" class="col-sm-2 control-label">Заголовок</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="title" placeholder="Заголовок" value="{{product.title}}">
        </div>
    </div>

    <div class="form-group">
        <label for="alias" class="col-sm-2 control-label">Ссылка</label>
        <div class="col-sm-4">
            <div class="input-group">
                <input type="text" class="form-control" name="alias" placeholder="Ссылка" value="{{product.alias}}">
                <span class="input-group-btn">
                    <a href="/?option=shop&task=products.index&id={{product._id}}" target="_blank" class="btn btn-default">&nbsp;Luxy.sexy&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="price" class="col-sm-2 control-label">Цена</label>
        <div class="col-sm-2">
            <div class="input-group">
                <input type="text" class="form-control text-right" name="price" placeholder="Цена" value="{{product.price}}">
                <span class="input-group-addon">
                    <span class="rouble">a</span>
                </span>
            </div>
        </div>
    </div>


    <div class="form-group">
        <label for="tradePrice" class="col-sm-2 control-label">Закупочная цена</label>
        <div class="col-sm-2">
            <div class="input-group">
                <input type="text" class="form-control text-right" name="tradePrice" placeholder="Закупочная цена" value="{{product.tradePrice}}" readonly>
                <span class="input-group-addon">
                    <span class="rouble">a</span>
                </span>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="input-group">
                <span class="input-group-addon">
                    {{#if product.lastUpdate}}
                        Обновлен <span class="date" data-moment="fromnow">{{product.lastUpdate}}</span>
                    {{else}}
                        Не обновлялся <span class="date" data-moment="no"></span>
                    {{/if}}
                </span>
                <span class="input-group-btn">
                    <a href="javascript:productUpdate('{{product._id}}',$('.date[data-moment]').parent(),this)" class="btn btn-default" role="button">
                        Обновить&nbsp;<span class="glyphicon glyphicon-refresh"></span>
                    </a>
                </span>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var productUpdate = function(id, $dateContainer){
            $dateContainer.parent().find('.btn').addClass('disabled');
            $.get('/admin/?task=shop.products/update&id='+id,function(response){
                $dateContainer.parent().find('.btn').removeClass('disabled');
                $("input[name=tradePrice]").val(response.tradePrice);
                $("input[name=price]").closest('.input-group').append('<span class="input-group-addon">' + 'Старая цена: '+ $("input[name=price]").val() + '</span>');
                $("input[name=price]").val(response.price).closest('.col-sm-2').removeClass('col-sm-2').addClass('col-sm-3');
                $dateContainer.html('Обновлен только что');
            });
        }
    </script>

    <div class="form-group">
        <label for="sku" class="col-sm-2 control-label">Артикул</label>
        <div class="col-sm-4">
            <div class="input-group">
                <input type="text" class="form-control" name="sku" placeholder="Артикул" value="{{product.sku}}" disabled>
                <span class="input-group-btn">
                    <a href="http://www.condom-shop.ru/products/{{product.sku}}" target="_blank" class="btn btn-default">&nbsp;Condom-shop.ru&nbsp;<span class="glyphicon glyphicon-new-window"></span></a>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="category" class="col-sm-2 control-label">Категория</label>
        <div class="col-sm-10">
            <select name="category" class="form-control">
                <option value="">Не выбрано</option>
                {{#keyIn categories}}
                    <option value="{{_id}}" {{#selected}}selected{{/selected}}>{{title}} ({{_id}})</option>
                    {{#keyIn childs}}
                        <option value="{{_id}}" {{#selected}}selected{{/selected}}>&nbsp;&nbsp;└&nbsp;{{title}} ({{_id}})</option>
                        {{#keyIn childs}}
                            <option value="{{_id}}" {{#selected}}selected{{/selected}}>&nbsp;&nbsp;&nbsp;&nbsp;└&nbsp;{{title}} ({{_id}})</option>
                            {{#keyIn childs}}
                                <option value="{{_id}}" {{#selected}}selected{{/selected}}>{{title}} ({{_id}})</option>
                            {{/keyIn}}
                        {{/keyIn}}
                    {{/keyIn}}
                {{/keyIn}}
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="status" class="col-sm-2 control-label">Статус</label>
        <div class="col-sm-10">
            <select name="status" class="form-control">
                <option value="active" {{#equal product.status 'active'}}selected{{/equal}}>Активен</option>
                <option value="hide" {{#equal product.status 'hide'}}selected{{/equal}}>Скрыт</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="status" class="col-sm-2 control-label">В наличии</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" disabled value="{{#if product.available}}Да{{else}}Нет{{/if}}"/>
        </div>
    </div>

    <div class="form-group">
        <label for="desc" class="col-sm-2 control-label">Описание</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="desc" placeholder="Описание">{{product.desc}}</textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="shortDesc" class="col-sm-2 control-label">Анонс</label>
        <div class="col-sm-10">
            <textarea class="form-control" name="shortDesc" placeholder="Анонс">{{product.shortDesc}}</textarea>
        </div>
    </div>


    {{#if product.params.benefits}}
        <div class="form-group">
            <label class="col-sm-2 control-label">Особенности</label>
            <div class="col-sm-10">
                <ul class="list-group">
                    {{#each product.params.benefits}}
                        <li class="list-group-item">{{this}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    {{/if}}

    {{#if product.params.items}}
        <div class="form-group">
            <label class="col-sm-2 control-label">Параметры</label>
            <div class="col-sm-10">
                <ul class="list-group">
                    {{#each product.params.items}}
                        <li class="list-group-item">
                            <div class="col-sm-3" style="padding-left: 0px;">{{this.[0]}}</div>
                            {{this.[1]}}
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    {{/if}}

    {{#if product.size}}
        <div class="form-group">
            <label class="col-sm-2 control-label">Размеры</label>
            <div class="col-sm-10">
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>
                            <div class="col-sm-3" style="padding-left: 0px;">Текущий</div>{{product.size.current}}
                        </strong>
                    </li>
                    {{#each product.size.sizes}}
                        <li class="list-group-item">
                            <div class="col-sm-3" style="padding-left: 0px;">{{@key}}</div>
                            <a href="/admin/?task=shop.products/edit&sku={{sku}}" target="_blank" class="btn btn-default">{{sku}}&nbsp;<i class="glyphicon glyphicon-new-window"></i></a>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    {{/if}}

    {{#if product.group}}
        <div class="form-group">
            <label class="col-sm-2 control-label">Группы товаров</label>
            <div class="col-sm-10">
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>
                            <div class="col-sm-3" style="padding-left: 0px;">Текущий</div>{{product.group.current}}
                        </strong>
                    </li>
                    {{#each product.group.groups}}
                        <li class="list-group-item">
                            <div class="col-sm-3" style="padding-left: 0px;">{{group}}</div>
                            <a href="/admin/?task=shop.products/edit&sku={{sku}}" target="_blank" class="btn btn-default">{{sku}}&nbsp;<i class="glyphicon glyphicon-new-window"></i></a>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    {{/if}}

    <div class="panel panel-default">

        <div class="panel-heading"><strong>Мета-тэги</strong></div>

        <div class="panel-body">

            {{#keys product.meta}}
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label">{{key}}</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="meta[{{key}}]">{{val}}</textarea>
                    </div>
                </div>
            {{/keys}}
        </div>
    </div>



    <input type="hidden" name="exit" value="0"/>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Сохранить</button>
            <button type="submit" class="btn btn-primary" onclick="$(this).closest('form').find('[name=exit]').val(1)">Сохранить и выйти</button>
        </div>
    </div>

</form>


{{factory 'js' '/js/codemirror.js'}}
{{factory 'js' '/js/javascript.js'}}
{{factory 'js' '/js/css.js'}}
{{factory 'js' '/js/xml.js'}}
{{factory 'js' '/js/vbscript.js'}}
{{factory 'js' '/js/htmlmixed.js'}}
{{factory 'css' '/css/codemirror.css'}}


<script type="text/javascript">
    var mixedMode = {
        name: "htmlmixed",
        scriptTypes: [{matches: /\/x-handlebars-template|\/x-mustache/i,
            mode: null},
            {matches: /(text|application)\/(x-)?vb(a|script)/i,
                mode: "vbscript"}]
    };

    var editor = CodeMirror.fromTextArea($("textarea[name=desc]").get(0), {mode: mixedMode,lineWrapping:true});
    var editor2 = CodeMirror.fromTextArea($("textarea[name=shortDesc]").get(0), {mode: mixedMode,lineWrapping:true});
</script>