{{factory.flash}}

<div class="well">
    <a href="/admin/?task=shop.products/index" class="btn {{^noCategory}}{{^withError}}btn-primary{{/withError}}{{/noCategory}}">Все</a>
    <a href="/admin/?task=shop.products/index&category=none" class="btn {{#noCategory}}btn-primary{{/noCategory}}">Без категории</a>
    <a href="/admin/?task=shop.products/index&error=1" class="btn {{#withError}}btn-primary{{/withError}}">С ошибками в тексте</a>


    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            {{#category}}{{title}}{{else}}Категория не выбрана{{/category}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            {{#keyin categories}}
                <li><a href="/admin/?task=shop.products/index&category={{_id}}">{{title}}</a></li>
                {{#keyin childs}}
                    <li><a href="/admin/?task=shop.products/index&category={{_id}}">└&nbsp;{{title}}</a></li>
                    {{#keyin childs}}
                        <li><a href="/admin/?task=shop.products/index&category={{_id}}">&nbsp;&nbsp;&nbsp;└&nbsp;{{title}}</a></li>
                        {{#keyin childs}}
                            <li><a href="/admin/?task=shop.products/index&category={{_id}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;└&nbsp;{{title}}</a></li>
                        {{/keyin}}
                    {{/keyin}}
                {{/keyin}}
            {{/keyin}}
        </ul>
    </div>

</div>


<table class="table table-striped">
    <tr>
        <th>
            Наименование
        </th>
        <th>

        </th>
    </tr>
{{#each products}}
    <tr>
        <td>
            {{title}}
        </td>
        <td>
            <a href="/admin/?task=shop.products/edit&id={{_id}}" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i></a>
        </td>
    </tr>
{{/each}}
</table>


{{#if pagination}}
    {{factory 'module' 'pagination' pagination}}
{{/if}}