<!--Mobile Menu Toggle-->
<div class="menu-toggle"><i class="fa fa-list"></i></div>
<div class="mobile-border"><span></span></div>

<!--Main Menu-->
<nav class="menu">
    <ul class="main">
        <li class="has-submenu"><a href="index.html">Home<i class="fa fa-chevron-down"></i></a><!--Class "has-submenu" for proper highlighting and dropdown-->
            <ul class="submenu">
                <li><a href="index.html">Home - Slideshow</a></li>
                <li><a href="home-fullscreen.html">Home - Fullscreen Slider</a></li>
                <li><a href="home-showcase.html">Home - Product Showcase</a></li>
                <li><a href="home-categories.html">Home - Categories Slider</a></li>
                <li><a href="home-offers.html">Home - Special Offers</a></li>
            </ul>
        </li>
        <li class="has-submenu"><a href="shop-filters-left-3cols.html">Shop<i class="fa fa-chevron-down"></i></a>
            <ul class="submenu">
                <li><a href="shop-filters-left-3cols.html">Shop - Filters Left 3 Cols</a></li>
                <li><a href="shop-filters-left-2cols.html">Shop - Filters Left 2 Cols</a></li>
                <li><a href="shop-filters-right-3cols.html">Shop - Filters Right 3 Cols</a></li>
                <li><a href="shop-filters-right-2cols.html">Shop - Filters Right 2 Cols</a></li>
                <li><a href="shop-no-filters-4cols.html">Shop - No Filters 4 Cols</a></li>
                <li><a href="shop-no-filters-3cols.html">Shop - No Filters 3 Cols</a></li>
                <li><a href="shop-single-item-v1.html">Shop - Single Item Vers 1</a></li>
                <li><a href="shop-single-item-v2.html">Shop - Single Item Vers 2</a></li>
                <li><a href="shopping-cart.html">Shopping Cart</a></li>
                <li><a href="checkout.html">Checkout Page</a></li>
                <li><a href="wishlist.html">Wishlist</a></li>
            </ul>
        </li>
        <li class="has-submenu"><a href="blog-sidebar-right.html">Blog<i class="fa fa-chevron-down"></i></a>
            <ul class="submenu">
                <li><a href="blog-sidebar-left.html">Blog - Sidebar Left</a></li>
                <li><a href="blog-sidebar-right.html">Blog - Sidebar Right</a></li>
                <li><a href="blog-single.html">Blog - Single Post</a></li>
            </ul>
        </li>
        <li class="has-submenu"><a href="#">Pages<i class="fa fa-chevron-down"></i></a>
            <ul class="submenu">
                <li><a href="register.html">Login / Registration</a></li>
                <li><a href="about.html">About Us</a></li>
                <li><a href="contacts.html">Contacts</a></li>
                <li><a href="coming-soon.html">Coming Soon</a></li>
                <li><a href="404.html">404 Page</a></li>
                <li><a href="support.html">Support Page</a></li>
                <li><a href="cs-page.html">Components &amp; Styles</a></li>
            </ul>
        </li>
        <li class="hide-sm"><a href="support.html">Support</a></li>
        <li class="hide-sm"><a href="support.html">Support</a></li>
    </ul>
    <ul class="catalog">
        <li class="has-submenu"><a href="{{tree.dlya-nee.path}}">{{tree.dlya-nee.title}}<i class="fa fa-chevron-down"></i></a>
            <ul class="submenu">
                {{#keyin tree.dlya-nee.childs}}
                    {{#isset childs}}
                        <li class="has-submenu">
                            <a href="{{path}}">{{title}}</a>
                            <ul class="sub-submenu">
                                {{#keyin childs}}
                                    <li><a href="{{path}}">{{title}}</a></li>
                                {{/keyin}}
                            </ul>
                        </li>
                    {{/isset}}
                {{/keyin}}

                <li class="has-submenu">
                    <a href="{{tree.analnaya-stimulyaciya.path}}">{{tree.analnaya-stimulyaciya.title}}</a>
                    <ul class="sub-submenu">
                        {{#keyinRange tree.analnaya-stimulyaciya.childs 1 7}}
                            <li><a href="{{path}}">{{title}}</a></li>
                        {{/keyinRange}}
                    </ul>
                </li>

                {{#keyin tree.dlya-nee.childs}}
                    {{^isset childs}}
                        <li><a href="{{path}}">{{title}}</a></li>
                    {{/isset}}
                {{/keyin}}
            </ul>
        </li>

        <li class="has-submenu"><a href="{{tree.dlya-nego.path}}">{{tree.dlya-nego.title}}<i class="fa fa-chevron-down"></i></a>
            <ul class="submenu">
                {{#keyin tree.dlya-nego.childs}}
                    {{#isset childs}}
                        <li class="has-submenu">
                            <a href="{{path}}">{{title}}</a>
                            <ul class="sub-submenu">
                                {{#keyin childs}}
                                    <li><a href="{{path}}">{{title}}</a></li>
                                {{/keyin}}
                            </ul>
                        </li>
                    {{/isset}}
                {{/keyin}}

                <li class="has-submenu">
                    <a href="{{tree.analnaya-stimulyaciya.path}}">{{tree.analnaya-stimulyaciya.title}}</a>
                    <ul class="sub-submenu">
                        {{#keyin tree.analnaya-stimulyaciya.childs}}
                            <li><a href="{{path}}">{{title}}</a></li>
                        {{/keyin}}
                    </ul>
                </li>

                {{#keyin tree.dlya-nego.childs}}
                    {{^isset childs}}
                        <li><a href="{{path}}">{{title}}</a></li>
                    {{/isset}}
                {{/keyin}}
            </ul>
        </li>

        <li class="has-submenu"><a href="{{tree.dlya-dvoih.path}}">{{tree.dlya-dvoih.title}}<i class="fa fa-chevron-down"></i></a>
            <ul class="submenu">
                {{#keyin tree.dlya-dvoih.childs}}
                    {{#isset childs}}
                        <li class="has-submenu">
                            <a href="{{path}}">{{title}}</a>
                            <ul class="sub-submenu">
                                {{#keyin childs}}
                                    <li><a href="{{path}}">{{title}}</a></li>
                                {{/keyin}}
                            </ul>
                        </li>
                    {{/isset}}
                {{/keyin}}

                <li class="has-submenu">
                    <a href="{{tree.analnaya-stimulyaciya.path}}">{{tree.analnaya-stimulyaciya.title}}</a>
                    <ul class="sub-submenu">
                        {{#keyin tree.analnaya-stimulyaciya.childs}}
                            <li><a href="{{path}}">{{title}}</a></li>
                        {{/keyin}}
                    </ul>
                </li>

                {{#keyin tree.dlya-dvoih.childs}}
                    {{^isset childs}}
                        <li><a href="{{path}}">{{title}}</a></li>
                    {{/isset}}
                {{/keyin}}
            </ul>
        </li>

        <li class="has-submenu"><a href="{{tree.eroticheskaya-odezhda-i-bele.path}}">Бельё и одежда<i class="fa fa-chevron-down"></i></a>
            <ul class="submenu">
                {{#keyin tree.eroticheskaya-odezhda-i-bele.childs}}
                    {{#isset childs}}
                        <li class="has-submenu">
                            <a href="{{path}}">{{title}}</a>
                            <ul class="sub-submenu">
                                {{#keyin childs}}
                                    <li><a href="{{path}}">{{title}}</a></li>
                                {{/keyin}}
                            </ul>
                        </li>
                    {{/isset}}
                {{/keyin}}

                {{#keyin tree.eroticheskaya-odezhda-i-bele.childs}}
                    {{^isset childs}}
                        <li><a href="{{path}}">{{title}}</a></li>
                    {{/isset}}
                {{/keyin}}
            </ul>
        </li>


        <li class="has-submenu"><a href="{{tree.fetish-i-bdsm.path}}">BDSM<i class="fa fa-chevron-down"></i></a>
            <ul class="submenu">
                {{#keyin tree.fetish-i-bdsm.childs}}
                    {{#isset childs}}
                        <li class="has-submenu">
                            <a href="{{path}}">{{title}}</a>
                            <ul class="sub-submenu">
                                {{#keyin childs}}
                                    <li><a href="{{path}}">{{title}}</a></li>
                                {{/keyin}}
                            </ul>
                        </li>
                    {{/isset}}
                {{/keyin}}

                {{#keyin tree.fetish-i-bdsm.childs}}
                    {{^isset childs}}
                        <li><a href="{{path}}">{{title}}</a></li>
                    {{/isset}}
                {{/keyin}}
            </ul>
        </li>

        <li class="has-submenu"><a href="{{tree.prezervativy-i-smazki.path}}">{{tree.prezervativy-i-smazki.title}}<i class="fa fa-chevron-down"></i></a>
            <ul class="submenu">

                {{#keyin tree.prezervativy-i-smazki.childs}}
                    <li><a href="{{path}}">{{title}}</a></li>
                {{/keyin}}
            </ul>
        </li>


        {{!
        <li class="has-submenu"><a href="shop-filters-left-3cols.html">Для него</a>
            <ul class="submenu">
                <li><a href="#">Nokia</a></li>
                <li class="has-submenu"><a href="#">iPhone</a><!--Class "has-submenu" for adding carret and dropdown-->
                    <ul class="sub-submenu">
                        <li><a href="#">iPhone 4</a></li>
                        <li><a href="#">iPhone 4s</a></li>
                        <li><a href="#">iPhone 5c</a></li>
                        <li><a href="#">iPhone 5s</a></li>
                    </ul>
                </li>
                <li><a href="#">HTC</a></li>
                <li class="has-submenu"><a href="#">Samsung</a>
                    <ul class="sub-submenu">
                        <li><a href="#">Galaxy Note 3</a></li>
                        <li><a href="#">Galaxy S5</a></li>
                        <li><a href="#">Galaxy S3 Neo</a></li>
                        <li><a href="#">Galaxy Gear</a></li>
                        <li><a href="#">Galaxy S Duos 2</a></li>
                    </ul>
                </li>
                <li><a href="#">BlackBerry</a></li>
                <li class="offer">
                    <div class="col-1">
                        <p class="p-style2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="col-2">
                        <img src="/img/offers/menu-drodown-offer.jpg" alt="Special Offer"/>
                        <a class="btn btn-block" href="#"><span>584$</span>Special offer</a>
                    </div>
                </li>
            </ul>
        </li>
        <li><a href="shop-filters-left-3cols.html">Для двоих</a></li>
        <li><a href="shop-filters-left-3cols.html">Бельё</a></li>
        <li><a href="shop-filters-left-3cols.html">BDSM</a></li>
        <li><a href="shop-filters-left-3cols.html">Презервативы и смазки</a></li>
        <li><a href="shop-filters-left-3cols.html">Анальная стимуляция</a></li>
        }}
    </ul>
</nav>